# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
Project/STM8S_prj/EWSTM8/STM8S103/Obj/Project.pbd.linf
Project/STM8S_prj/EWSTM8/STM8S103/Obj/Project.pbd.browse
Project/STM8S_prj/EWSTM8/STM8S103/Obj/Project.pbd
Project/STM8S_prj/EWSTM8/STM8S103/Obj/main.pbi.xcl
Project/STM8S_prj/EWSTM8/STM8S103/Obj/main.pbi
Project/STM8S_prj/EWSTM8/settings/Project.wsdt
Project/STM8S_prj/EWSTM8/settings/Project.STM8S103.general.xcl
Project/STM8S_prj/EWSTM8/settings/Project.STM8S103.cspy.ps1
Project/STM8S_prj/EWSTM8/settings/Project.STM8S103.cspy.bat
Project/STM8S_prj/EWSTM8/settings/Project.dbgdt
